---
name: Docker Push

on:            # yamllint disable-line rule:truthy
  push:
    tags:
      - '**'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image tag to build and push'
        required: true
        default: 'latest'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_push_poc:
    name: Build & Push Image - POC
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
#    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set output
        id: vars
        run: echo "git_tag=${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build backend artifacts
        run: |
          yarn install --ignore-engines --network-timeout 600000
          yarn tsc
          yarn workspace backend build
          ls -la packages/backend/dist/

      # configure iam
      - name: Configure IAM Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.POC_BACKSTAGE_DEPLOY_ARN }}
          aws-region: us-east-1
        continue-on-error: false

      - name: Build, Tag, and Push
        run: |
          export IMAGE_TAG=${{ steps.vars.outputs.git_tag }}
          export ENVIRONMENT=poc
          export DOCKERHUB_USERNAME=${{ secrets.SF_ARCH_DOCKERHUB_USERNAME }}
          export DOCKERHUB_PASSWORD=${{ secrets.SF_ARCH_DOCKERHUB_PASSWORD }}
          ./scripts/docker-build-tag-and-push.sh


  build_and_push_prod:
    name: Build & Push Image - Prod
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
#    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set output
        id: vars
        run: echo "git_tag=${{ github.event_name == 'workflow_dispatch' && github.event.inputs.tag || github.ref_name }}" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build backend artifacts
        run: |
          yarn install --ignore-engines --network-timeout 600000
          yarn tsc
          yarn workspace backend build
          ls -la packages/backend/dist/

      # configure iam
      - name: Configure IAM Role
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.PROD_BACKSTAGE_DEPLOY_ARN }}
          aws-region: us-east-1
        continue-on-error: false

      - name: Build, Tag, and Push
        run: |
          export IMAGE_TAG=${{ steps.vars.outputs.git_tag }}
          export ENVIRONMENT=prod
          export DOCKERHUB_USERNAME=${{ secrets.SF_ARCH_DOCKERHUB_USERNAME }}
          export DOCKERHUB_PASSWORD=${{ secrets.SF_ARCH_DOCKERHUB_PASSWORD }}
          ./scripts/docker-build-tag-and-push.sh

