---
name: Tag

on:            # yamllint disable-line rule:truthy
  push:
    branches:
      - main

jobs:
  ## tag
  tag:
    runs-on: ubuntu-latest

    ## for a full list of permissions, see: https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs#defining-access-for-the-github_token-scopes
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          REPO_OWNER: sourcefuse
          WITH_V: false
